.pricing-header {
    background-color: #cbdefc;
    margin-bottom: 30px;
}

.card-header {
    background-color: #859cd8;
}

.fieldLabel{
    font-weight: bold;
}

.infoList {
    font-size: 1.5em;
}

.card-container:hover {
    border: 2px solid #dddbdb;
}

.card-container:hover .card-header{
    background-color: #dddbdb;
}